.header-title {
  display: flex;
  flex-direction: column;
  color: #fafafa;
  margin: 50px 0;
}

.header-title .regular {
  color: #e6e6e6;
  font-size: 26px;
  font-weight: 300;
}

.header-title .bold {
  color: #fff;
  font-size: 30px;
}

.end {
  align-items: flex-end;
}

.start {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.folder .modelo {
  height: 300px;
}
